#Configuration du serveur HTTP

#Port sur lequel le serveur écoute
port=4444

#Répertoire racine du serveur (où les fichiers statiques sont stockés)
root=htdocs

#Fichier de log pour enregistrer les erreurs et autres informations
log=logs/server.log

#Activation de PHP (true/false)
php_enabled=true

#Timeout en secondes pour les requêtes
request_timeout=30000


